<html>

<head>
		
</head>

<body>
	<P>
		<div class="cente">
		<p><span style="color:rgb(255, 255, 255); font-size: 15pt">Device Store , is a iot store application which enables the owner to showcase iots device available in the store. The Various functionalities are that, Owner can :</span></p>
		<p><span style="color:rgb(255, 255, 255); font-size: 15pt">
			1.Add the device details when prepared,<br> 2.Get the details of the available devices,<br> 3.Update the details like deviceid/status , etc,<br> 4.Delete the device details when they are over.
		</span></p>
	</div>
	</P>


</body>

</html>
